version: '{branch} {build}'
image: Visual Studio 2015
clone_depth: 10
environment:
  JAVA_HOME: '"C:\Program Files\Java\jdk1.8.0"'
cache: '%HOMEDRIVE%%HOMEPATH%\.gradle\caches'
build_script:
- cmd: gradlew.bat assemble
before_test:
- cmd: gradlew.bat check&&gradlew.bat backwardsCompatibiltyTest&&gradlew.bat --stop
after_test:
- ps: >-
    $url = "https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)"
          $file = '.\build\test-results\test\TEST-edu.sc.seis.launch4j.Launch4jPluginExtensionTest.xml'
          (New-Object 'System.Net.WebClient').UploadFile($url, (Resolve-Path $file))
artifacts:
- path: build\libs\*.jar
  name: Java archive
